:root{
    --bg: linear-gradient(#2cc9e5, #39fda2);
    --blue1: #feeb44;
    --blue2: #797cff;
    --blue3: #ababfd;
    --cyan: cyan;
    --cred: #bb1c1c;
    --vert: #135f13;
    --yellow: #efef24;
}

*::selection{
    color:#ff4800;
    background: rgba(255, 255, 255, 0.077);
}
body {
    font-family: 'Poppins', sans-serif ;
    background: 
    linear-gradient(
        hsla(249, 99%, 32%, 0.329),
        hsla(249, 99%, 32%, 0.329)
    ),
    url("https://png.pngtree.com/background/20210706/original/pngtree-earth-computer-business-technology-background-picture-image_216652.jpg") no-repeat center fixed;
    background-size: cover;
    background-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 16px;
}
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin: 3%;
}
.heading {
    padding: 160px 50px ;
    background-position: bottom ;
    background-size: 150% ;
    background-repeat: no-repeat ;
    color: var(--blue1);
}
.heading subtitle{
    font-size: 20px;
    /* padding-left: 3%; */
}
#s{
    color: red;
    font-weight: bold;
    font-size: 24px;
}
#n{
    color: red;
    font-weight: bold;
    font-size: 24px;
}
#t{
    color: red;
    font-weight: bold;
    font-size: 24px;
}


/* Responsive Navbar */
nav {
    position: sticky ;
    /* top: 0 ; */
    /* background-image: url("/ASSETS/wavy-blue.svg") ; */
    padding: 160px 50px ;
    /* background-position: bottom ;
    background-size: 135% ;
    background-repeat:round;
    background-color:#0099ff !important; */
}
.nav-link {
    color:rgb(218, 146, 13);
    font-size: 17px ;
    background: transparent ;
    font-family: Lato, sans-serif ;
    text-transform: capitalize ;
}
.nav-link:hover {
    background: transparent ;
    color: #fa3c3c ;
    font-weight: bold ;
}
.login-btn{
    color: #1e0dda;
}
.login-btn:hover {
    background: var(--blue1) ;
}
.navbar {
   box-shadow: none 
}
.navbar-brand {
   font-size: 25px 
}
.navbar-toggler-icon {
   color: #fff 
}
.dropdown-menu{
    background-color: #765ff8;
}
.dropdown-item{
    background: rgb(67, 67, 255);
}
.ais {
    border-radius: 30% !important;   /* # NON FONCTIONNEL !!! */
}


            /* Page 1 */
#page1{
    color: #04044a;
}

.snt-title{
    padding: 3%;
    padding-left: 5%;
}
.snt-subtitle{
    /* padding: 3%; */
    padding-left: 7%;
}
.snt-p{
    padding: 0.5% 0.3% 1% 7%;
    /* padding-left: 6%; */
    font-size: 23px;
}
.suite{
    background-color: #fff764;
    padding: 1.2%;
    border-radius: 30px;
    border: transparent;
}
.suite:hover{
    background-color: #1ae11a;
    transition: 1s;
}
.suite a{
    text-decoration: none;
    color: black;
}
.suite a:hover{
    text-decoration: none;
    color: black;
}
.code-block{
    padding: 2.5% 0.3% 1% 7%;
    font-size: 23px;
}
.cb{
    padding: 0.5% 0.3% 1% 7%;
    font-size: 23px;
}
.num{
    font-size: 17px;
    color: rgb(255, 0, 0);
}
.chaps{
    display: flex;
    padding: 60px 50px ;
}
.chaps-content{
    margin: 1%;
}


@media only screen and (max-width: 668px) {
    /* For mobile phones: */
    body {
        background: 
        linear-gradient(
            hsla(249, 99%, 32%, 0.329),
            hsla(249, 99%, 32%, 0.329)
        );
        background-size: cover;
        background-size: 100%;
    }
    .shema{
        width: 100%;
    }
    .snt-p{
        font-size: 19px;
    }
    .code-block{
        padding: 0% 0% 0% 0%;
        font-size: 16px;
    }
    .cb{
        padding: 0%;
        font-size: 16px;
    }
    .nav-link {
        color: #1e0dda;
        font-size: 17px ;
        background: transparent ;
        font-family: Lato, sans-serif ;
        text-transform: capitalize ;
    }
    
}



